
<footer class="footer">
    <div class="footer-left">
    
         <div class="container">
           <div class="row">
             
             <div class="footer-col">
               <h4>Popular Products</h4>
               <ul>
                 <li><a href="#">Home Loan</a></li>
                 <li><a href="#">Credit cards</a></li>
                 <li><a href="#">Savings Account</a></li>
                 <li><a href="#">Current Account</a></li>
                 <li><a href="#">Transactions</a></li>
                 
               </ul>
             </div>
             <div class="footer-col">
               <h4>Contact us</h4>
               <ul>
                 <li><a href="#"> <span class="fa fa-bank"></span> laxmifunds.com</a></li>
                 <li><a href="#"><span class="fa fa-map-pin"></span> Banglore</a></li>
                 <li><a href="#"> <span class="fa fa-phone"></span> +089-765432100</a></li>
                 
               </ul>
             </div>
             <div class="footer-col">
               <h4>Quick links</h4>
               <ul>
                 <li><a href="#">Register</a></li>
                 <li><a href="#">Accounts</a></li>
                 <li><a href="#">Insurance</a></li>
                 <li><a href="#">FAQ'S</a></li>
               </ul>
             </div>
             <div class="footer-col">
               <h4>Connect with Us</h4>
               <div class="social-links">
                 <a href="https://protect-eu.mimecast.com/s/Y6WLCJPvnhy2WEyHV5fk-?domain=facebook.com"><i class="fa fa-home"></i></a>
                 <a href="https://protect-eu.mimecast.com/s/gYF0CK6wou9Yy59tvPw2k?domain=twitter.com"><i class="fa fa-twitter"></i></a>
                 <a href="https://protect-eu.mimecast.com/s/1mS7CLPxphXgDnXUPjQ9R?domain=instagram.com"><i class="fa fa-instagram"></i></a>
                 <a href="https://protect-eu.mimecast.com/s/47B8CM9yqU9Ly49tWWAqG?domain=linkedin.com"><i class="fa fa-linkedin"></i></a>
                                                                                         
                                                                            
               </div>
             </div>
           </div>
         </div>
      
    
  
    
    
  
  
  
  
  
            
  