<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How can I prepay my Personal Loan as I am unable to visit branch?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>In case you are unable to visit our branch for prepayment of your loan, you can send your representative along with an authority letter duly signed by the loan applicant, for payment. The co-applicant or third party visiting the branch for closing the loan needs to carry the documents mentioned below:
        <ul style="list-style-type:disc;">
          <li>Main applicant Identification proof (Driving License or Passport or Voters card or PAN Card)</li>
          <li> Authorisation letter from main applicant.</li>
          
        </ul>
      
      
          
          
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Do I have to pay any additional charges for Personal Loan?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>A processing fee is levied on loan, basis the defined pricing matrix followed by the bank. This fee will be deducted from the disbursal amount payable to you.

        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How much time will it take for my loan to be approved for Personal Loan?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Loans are approved within 72 hours of submission of complete documentation.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        How do I update my mailing address, mobile number or e-mail ID registered under my loan account?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <p>You may update your mailing address, mobile number or e-mail ID with below:</p>
        <ul style="list-style-type:disc;">
          <li>Visit any Laxmi Funds Bank loan branch with a valid photo ID proof and submit an application.</li>
          
        </ul>
       
       
       
        
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        What is a Business Instalment Loan?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Business Instalment loan (BIL) is an unsecured loan which is provided to a self-employed individual and entity. A business instalment loan is a business loan that can be availed for any business upgrade or equipment purchase, which is repaid in equal instalments at fixed intervals, mostly monthly.</p>
      </div>
    </div>
  </div>

  
</div>

