<br>
<h2>Apply for Loan</h2>
<br>
<form >
  <div class="container">
    <h4>Personal Details</h4>
    First Name:<input type="text" id="firstname" ng-model><br>
    Last Name:<input type="text" id="lastname" ng-model><br>
    Email:&nbsp;&nbsp;&nbsp;<input type="text" id="email" ng-model><br>
    Phone No:<input type="text" id="number" ng-model><br>
    Date of Birth:<input type="date" id="dob" ng-model><br>
    Address: <input type="text-area" style="height: 50px;" id="address" ng-model><br>
    <br>
    Marital Status:<br>
      <input type="checkbox" name="status" value="single">Single<br>
      <input type="checkbox" name="status" value="married">Married<br>
      <input type="checkbox" name="status" value="divorced">Other<br>
    <br>
    <hr>
    <h4>Work Details</h4>
    Current Occupation:<input type="text" id="occupation" ng-model><br>
    Company Name:<input type="text" id="companyname" ng-model><br>
    Company Location:<input type="text" id="city" ng-model><br>
    Year of Experience:<br>
    <input type="radio" name="years" value="1">5-10<br>
    <input type="radio" name="years" value="2">10-15<br>
    <input type="radio" name="years" value="1">15+<br>
    <hr>
    <h4>Loan Type and Amount</h4>
    Loan Type:
      <select name="type" id="loan">
        <option value="">--Select Loan type--</option><br>
        <option value="ploan">Personal Loan</option><br>
        <option value="eloan">Education Loan</option><br>
        <option value="hloan">Home Loan</option><br>
        <option value="cloan">Car Loan</option><br>
      </select>
      <br>
    Loan Amount :
    <select name="type" id="amount">
      <option value="">--Select Loan Amount--</option><br>
      <option value="eamt">Rs 5 crore</option><br>
      <option value="pamt">Rs 1 crore</option><br>
      <option value="eamt">Rs 75 lakhs</option><br>
      <option value="eamt">Rs 50 lakhs</option><br>
    </select>
    <br>
    Loan Period:<br>
    <input type="radio" name="period" value="1">5-10<br>
    <input type="radio" name="period" value="2">10-15<br>
    <input type="radio" name="period" value="1">15+<br>
    <br>
    <hr>
    Comment: <input type="text-area" style="height: 100px;" id="address" ng-model><br>
    <br>
    <hr>
    <p>I authorize prospective Companies to obtain personal and credit information about me from my employer and credit bureau, or credit reporting agency, any person who has or may have any financial dealing with me, or from any references I have provided. 
      This information, as well as that provided by me in the application, will be referred to in connection with this lease and any other relationships we may establish from time to time. 
      Any personal and credit information obtained may be disclosed from time to time to other lenders, credit bureaus or other credit reporting agencies. **
    </p>    
    <input type="checkbox"  value="yes">Yes<br>
    <br>
    <p>I hereby agree that the information given is true, accurate and complete as of the date of this application submission. **</p>
    <input type="checkbox"  value="yes">Yes<br>
    <br>
    <button (click)="submit()">Submit</button>
    
    
 </div>
</form>
