h2{
  color:red;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.container {
  margin-left:190px;
  margin-right:150px;
  padding: 20px;
  width:70%;
 
  /* background-color:#f5f5f0; */
  border:1px solid maroon;
  font-family: 'Times New Roman', Times, serif;
}
input[type=text],[type=date],[type=text-area],select{
  margin: 10px 0px 0px 20px;
  width:50%;
}



