        
        <section>
        <div class="fullscreen">
            <div class="left">
                <div class="content">
                    <img src="./assets/LF.png" class="rounded img2" alt="">
                    <h4>Welcome to Laxmi Funds Bank</h4>
                    <hr>
                    <p>Trusted by over 25 people</p>
                    <div class="buttons">
                        <button class="btn btn-light btn-outline-success button px-2 me-2">
                        <a 
                        routerLink="/reg-form"
                        class="anc"
                        type="button"
                        >
                        Register</a></button>
                        <button class="btn btn-light btn-outline-success button px-2"  ><a
                            routerLink="/clog"
                            routerLinkActive="activebutton"                                             
                            ariaCurrentWhenActive="page"
                            class="anc"
                            type="button"> 
                            Login
                        </a>
                
                        </button> 
                    </div>
                    

                </div>
            </div>
            <div class="right">
                <img src="./assets/bgoverlapcard.png" class="img" alt="">
                </div>
        </div>
    </section>


    
    

