<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How is the minimum Monthly Average Balance (MAB) calculated?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>The Monthly Average Balance (MAB) is calculated on a simple average of day-end balances for a calendar month. The MAB is calculated by adding the closing ledger balance of the account of each day from the start of the month to the end of the month. Then the total sum amount is divided by the number of days in that month.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        What is the eligibility for opening an Insta Save Account?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Insta Save Account is available for resident individual above the age of 18 years and up to 60 years.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Can I get cheque book by opening Savings Account?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Your Cheque book will be issued only upon request, after you have successfully completed your KYC verification. You can request for the Cheque book by logging in to ICICI Bank Internet Banking or the iMobile Pay app. Go to Services-Cheque Book Services-Issue Cheque Book from iMobile Pay app. Go to Bank Accounts-Accounts-Cheque Book Request from Internet Banking.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Why do I need to add a Nominee to my account?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <p>It is important to appoint a nominee for all your assets so that the assets reach the right person in the unfortunate event of your death. The nominee you select must be a reliable person who can take care of the asset. Below are the rights of the nominee:</p>
        <ul style="list-style-type:disc;">
          <li> He has no right over your money unless specified under the will or if he/she inherits the money.
            Nominee is a mere custodian.</li>
          <li> He is the contact person for the account, in case the account holder is not reachable or in an event of the account holder’s death.</li>
          <li> The nominee directs the court on how to go about the account in case of the account holder’s demise.</li>
          <li>At the time of claiming for the deposit, the nominee will have to provide identification proof.</li>
           <li> If the nominee is a minor, the guardian will sign on his/her behalf. We require the nominee’s and the guardian’s name, address and photograph.</li>
        </ul>
       
       
       
        
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Is my information secure?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Yes, your information is completely secure with us. Security of your personal and banking information is of utmost importance to us.</p>
      </div>
    </div>
  </div>

  
</div>

