input{
    border: 0px;
    border-bottom: 1px solid black;
    background-color: inherit;
}


input:focus{
    outline: none;
}

.pnt{
    cursor: pointer;
    color: rgb(93, 62, 121);
    text-decoration: underline;
}

@media screen and (max-width: 769px) {
    .dno{
        display: none !important;
    }
  }