<section class="mx-auto">
    <div class="container">
        <div class="header">Profile</div>
        <div class="profile-content">
            Name, email,phone number,Customer ID,if time address
        </div>
        <hr>
        <div class="card-details">
            <div class="header">Card Details</div>
            Manage Cards diff page
        </div>
        <hr>
        <div class="header">Security</div>
        <div class="Security">
            Change password
            Change email
            Change phone number 

        </div>
        <hr>
    <div>
    <button class="btn btn-danger" (click)="logout()" style="cursor: pointer;">Logout</button>
    <!-- {{d}} -->
    </div>
    </div>
</section>

