  
  <!-- <img src="../assets/faq.png" height="400" width="100%"> -->
  
  <br>
  <br>
          <div class="row row-cols-2 g-3">
              <div class="col">
                <div class="card">
                 
                  <img src="../assets/accounts.png" height="150px" width="200px" routerLink="acc" class="card-img-top"
                    alt="img1"  >
                 
                  <div class="card-body">
                  
                    <a class="btn btn-primary"  routerLink="acc" >Accounts</a>
                   
                  </div>
                </div>
              </div>
              <br>
              <div class="col">
                <div class="card">
                  
                  <img src="../assets/cards.jpg" height="150px" width="200px" routerLink="cards" class="card-img-top"
                    alt="img2" >
                  <div class="card-body">
                    <a class="btn btn-primary" routerLink="cards">Cards</a>
                    
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="col">
                <div class="card">
                  
                  <img src="../assets/loans.png"  height="150px" width="200px" routerLink="cloans" class="card-img-top"
                    alt="img3" >
                  <div class="card-body">
                    <a class="btn btn-primary" [routerLink]="['cloans']">Loans</a>
                    <!-- <h5 class="card-title">Loans</h5> -->
                    
                  </div>
                </div>
              </div>
              <br>
              <div class="col">
                <div class="card">
               
                  <img src="..\assets\transactions.jpg" height="150px" width="200px" routerLink="transactions" class="card-img-top"
                    alt="img4">
                  <div class="card-body">
                    
                    <h5 class="btn btn-primary"  routerLink="transactions">Transactions</h5>
                    
                  </div>
                </div>
                <br/>
                
            </div>
            <div class="col" > 
              <div  style= width:300px;height:100px class="card ">
                <div class="card-body ">
                  <p class="card-text"><b>Raise a Request/Complaint</b></p>
                  <a class="btn btn-primary"  routerLink="issue-form" >Click here</a>
                </div>
              </div> 
          </div>
            
            <div class="col">
              <div  style= width:300px;height:100px class="card ">
                <div class="card-body ">
                  <p class="card-text"><b>Feedback</b></p>
                  <a class="btn btn-primary"  routerLink="feedback" >Click here</a>
                </div>
              </div> 
            </div>

            <div class="container">  
              <div class="row row-cols-2 g-3">      
                 
                <br>
             
            
  </div>
  </div>
  </div>
  
  <br>
  