<section class="mx-auto">
    <div class="container">
        <div class="header">Enter details to start your journey now!</div>
        <hr>
        <form>
            <div class="row">
                <div class="col-md gy-2">
                    <input type="text" class="form-control" placeholder="Mobile Number registered with Aadhaar">
                </div>
                <div class="col-md gy-2">
                    <input type="email" class="form-control" placeholder="Email address">
                </div>
            </div>
            <div class="row">
                <div class="col-md gy-2">
                    <input type="text" class="form-control" placeholder="Permanent Account Number(PAN)">
                </div>
                <div class="col-md gy-2">
                    <input type="number" class="form-control" placeholder="12-digit Aadhaar number">
                </div>
            </div>

        </form>
        <button class="btn button btn-sm me-5 float-end">Verify Aadhaar</button>
        <br>
        <br>
        <div class="header">Please enter your <strong>professional & personal details</strong> </div>
        <hr>
        <form>
            <div class="row">
                <div class="col-md gy-2">
                    <select name="" class="form-select" id="">
                        <option selected>Occupation</option>
                        <option value="1">Service</option>
                        <option value="2">Business</option>
                        <option value="3">Self</option>
                    </select>
                </div>
                <div class="col-md gy-2">
                    <select name="" class="form-select" id="">
                        <option selected>Source of Income</option>
                        <option value="1">Salaried</option>
                        <option value="2">Business</option>
                        <option value="3">None</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-md gy-2">
                    <input type="text" class="form-control" placeholder="Gross annual income in ₹">
                </div>
                <div class="col-md gy-2">
                    <input type="text" class="form-control" placeholder="Company Name/Business Name">
                </div>
            </div>

            <!-- <br>
            <br>
            <br>
            <br> -->
            <!-- <h3>hi</h3> -->

        </form>

        <!-- <div class="header" style="padding-top: 3rem;">Enter details to start your journey now!</div> -->
        
        <div class="header">Select type of <strong>product</strong></div>
        <hr>
        <form action="">
            <div class="row">
                <div class="col-md gy-2">
                <input class="form-check-input position-static left-radio" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="..."><p class="radiotext">₹25,000 Savings Account</p>
                </div>
                <div class="col-md gy-2">
                <input class="form-check-input position-static right-radio" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="..."><p class="radiotext">₹10,000 Savings Account</p>
              </div>
            </div>
            
        </form>
        <div class="header">Disclaimer</div>
        <hr>
        <div class="disclaimer-content">
            <p>I confirm that I am not a politically exposed person nor related to one (required as per RBI guideline). For any change, I will visit the nearest branch and update my details.</p>
        </div>
        <div class="disclaimer-content">
            <p>I confirm that I am an Indian citizen, born in India and a tax resident of India (required as per RBI guideline). For any change, I will visit the nearest branch and update my details.</p>
        </div>
        <div class="disclaimer-content">
        <form action="">
            <p><input type="checkbox"> I accept all <a href="">Terms and Conditions</a> related to Laxmi Funds Bank.</p>
        </form>
        <button class="btn button-2 btn-md me-5 float-end">Proceed to Open Account</button>
    
    </div>
    <div class="hell"></div>
    </div>
    <div class="hell"></div>
    



</section>