<section class="mx-auto">
    <div class="container">
        <div class="header">Enter details to start your journey now!</div>
        <hr>
        <form #aadharform = "ngForm" (ngSubmit)="validate()">
            <div class="row">
                <div class="col-md gy-2">
                    <input
                        required
                        type="text"
                        class="form-control"
                        name="mobileNo" 
                        placeholder="Mobile Number registered with Aadhaar" 
                        [(ngModel)]="mobileNo"
                    >
                </div>
                <div class="col-md gy-2">
                    <input 
                        required    
                        type="email" 
                        class="form-control"
                        name="email" 
                        placeholder="Email address" 
                        [(ngModel)]="email"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-md gy-2">
                    <input
                        required 
                        type="text" 
                        class="form-control" 
                        name="PANcard" 
                        placeholder="Permanent Account Number(PAN)"
                        [(ngModel)]="PANcard"
                    >
                </div>
                <div class="col-md gy-2">
                    <input 
                        required
                        type="text" 
                        class="form-control" 
                        name="Aadhar" 
                        placeholder="12-digit Aadhaar number" 
                        [(ngModel)]="Aadhar"
                    >
                </div>
            </div>
            <button 
                class="btn button btn-sm me-5 float-end" 
                name="submit" 
                type="submit" 
                ngSubmit="validate()">
                Verify Aadhaar
            </button>

        </form>
        <div class="header small-pad">Please enter your <strong>professional & personal details</strong> </div>
        <hr>
        <form>
            <div class="row">
                <div class="col-md gy-2">
                    <select name="" class="form-select" id="">
                        <option value="" disabled selected hidden>Occupation</option>
                        <option value="1">Service</option>
                        <option value="2">Business</option>
                        <option value="3">Self</option>
                    </select>
                </div>
                <div class="col-md gy-2">
                    <select name="" class="form-select" id="">
                        <option value="" disabled selected hidden>Source of Income</option>
                        <option value="1">Salaried</option>
                        <option value="2">Business</option>
                        <option value="3">None</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-md gy-2">
                    <input type="text" class="form-control" placeholder="Gross annual income in ₹">
                </div>
                <div class="col-md gy-2">
                    <input type="text" class="form-control" placeholder="Company Name/Business Name">
                </div>
            </div>
        </form>

        
        <div class="header small-pad">Select type of <strong>product</strong></div>
        <hr>
        <form action="">
            <div class="row">
                <div class="col-md gy-2">
                <input class="form-check-input position-static left-radio" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="..."><p class="radiotext">₹25,000 Savings Account</p>
                </div>
                <div class="col-md gy-2">
                <input class="form-check-input position-static right-radio" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="..."><p class="radiotext">₹10,000 Savings Account</p>
              </div>
            </div>
            
        </form>
        <div class="header">Disclaimer</div>
        <hr>
        <div class="disclaimer-content">
            <p>I confirm that I am not a politically exposed person nor related to one (required as per RBI guideline). For any change, I will visit the nearest branch and update my details.</p>
        </div>
        <div class="disclaimer-content">
            <p>I confirm that I am an Indian citizen, born in India and a tax resident of India (required as per RBI guideline). For any change, I will visit the nearest branch and update my details.</p>
        </div>
        <div class="disclaimer-content">
        <form action="">
            <p><input type="checkbox"> I accept all <a href="">Terms and Conditions</a> related to Laxmi Funds Bank.</p>
        </form>
        <button class="btn button-2 btn-md me-5 float-end">Proceed to Open Account</button>
    
    </div>
    <div class="pad"></div>
    </div>
    <div class="pad"></div>
    



</section>