

section{
    margin-top: 5rem;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    width: 100%;
    /* max-width: 1000px; */
    max-width: 70%;
    height: 100%;   
    font-family: 'Montserrat', sans-serif;
}

.container{
    border-radius: 1.5rem;
    border-style:inset;
    min-height: 95vh;
    color:black;
    background-color: white;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    box-shadow: 1.5rem 1.5rem rgba(4, 31, 4,0.2);
}

form{
    text-align: center;
    padding:1rem;
}

.header{
    padding-top:1rem;
    padding-left:1rem;
    text-align: left;
    text-decoration: black;
    font-size: 20px;
}

.row{
    padding-bottom: 1rem;
}

.button{
    color:white;
    border-radius: 1.5rem;
    background-color: rgb(131, 182, 131);
    size: 1rem;
    margin-top: 1rem;
}

.button:hover{
    background-color: rgb(18, 172, 18);
    
}

hr{
border-top: 1px solid #8c8b8b;
text-align: center;
}

.small-pad{
    padding-top: 4rem;
}
.pad{
    padding-top: 10rem;
}

.left-radio{
    font: inherit;
    color: green;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    
}

.right-radio{
    font: inherit;
    color:green;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    
}

.radiotext{
    font-size: 18px;
    letter-spacing: 0.1rem;
}

.disclaimer-content{
    font-size: 12px;
    background-color:#D3D3D3;
    border-radius: 4px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.button-2{
    color: white;
    background-color: gray;
    margin-top: 2rem;

}

.button-2:hover{
    background-color: rgb(0, 8, 0);
    
}
